body, footer {
    width: 70%;
    margin: auto;
    color: #444444;
}

header {
    background: rgb(89,21,153);
    background: linear-gradient(120deg, rgba(89,21,153,1) 20%, rgba(21,153,87,1) 100%);
    padding-top: 7px;
}

h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
}

#find-more-container, #resume-container div {
    transition: all 0.3s ease;
}

img {
    transition: all 0.8s ease;
}

h2, #find-more-container:hover, #resume-container div:hover {
    color: #159957;
}

header {
    font-family: 'Muli', sans-serif;
    margin-bottom: 40px;
    color: white;
    padding-bottom: 7px;
}

main, footer {
    font-family: 'Open Sans Condensed', sans-serif;
}

footer {
    bottom: 0;
    margin-top: 30px;
    font-size: 12px;
    border-top: solid #444444;
}

strong {
    font-size: 25px;
}

img {
    max-width: 100%;
    max-height: auto;
}

#image-container {
    transform: scale(1);
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#introduction-container {
    width: 54%;
}

#image-container {
    width: 42%;
}

#introduction-container, #find-more-container, #about-website-container, #resume-container div, #category-container div {
    border: solid #591599;
    padding: 10px;
}

#introduction-container, #find-more-container, #about-website-container, #resume-container div, header, #image-container, #category-container div {
    border-radius: 10px;
}

#about-container h2, #find-more-container, #resume-container, header, footer {
    text-align: center;
}

img:hover {
    transform: scale(1.2);
}

@keyframes fromWhite {
    from {background-color: white;}
}

#find-more-container:hover {
    background-color: #e5e5e5;
    animation-name: fromWhite;
    animation-duration: 0.3s;
}

#find-more-container:hover, #resume-container div:hover, #about-website:hover {
    cursor: pointer;
}

#find-more-container, #about-website-container, header, #resume-container div, #category-container div {
    margin-top: 10px;
}

#about-container p, #find-more-container {
    font-size: 20px;
}

#about-website {
    font-style: italic;
}

#languages-cat strong {
    font-size: 16px;
}

#about-website:hover {
    color: #591599;
}

#resume-container {
    flex-wrap: wrap;
    overflow: hidden;
}

#resume-container div {
    width: 30%;
    height: 230px;
    line-height: 230px;
    color: #741cc7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#resume-container div strong {
    font-size: 30pt;
}

@keyframes fromPurpleText {
    from {color: #741cc7}
}

#resume-container div:hover {
    animation-name: fromPurpleText;
    transform: translate(0, -7px);
}

#find-more-container:hover, #resume-container div:hover {
    border-color: #159957;
}

#find-more-container:active, #resume-container div:active {
    border-width: 3px;
}

#education {
    background-image: url("img/education.png");
}

#computer-science {
    background-image: url("img/computer-science.png");
}

#more {
    background-image: url("img/more.png");
}

#work {
    background-image: url("img/work.jpg");
}

#volunteer {
    background-image: url("img/volunteer.png");
}

#languages {
    background-image: url("img/language.png");
}

#category-container {
    font-size: 14pt;
}

/* Mobile devices (portrait) */
@media only screen and (max-width: 700px) {
    body, #introduction-container {
        width: 90%;
    }

    #image-container {
        width: 50%;
    }

    #introduction-container {
        padding: 0px;
        border: none;
    }

    #about-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    #introduction-container, #image-container {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #resume-container div {
        width: 40%;
        height: 100px;
        line-height: 100px;
    }

    #resume-container div strong {
        font-size: 20pt;
    }
}

.hidden {
    display: none;
}